.objetivos {
    background: #ffffff;
}

.object {
    margin: 20px 4%;
    margin-bottom: 50px;
    background: #ffffff;
    margin-top: 50px;
}

.object h1{
    color: #0057bb;
    text-align: center;
    font-size: 42px;
    margin-bottom: 10px;
}

.object p{
    color: #000000;
    text-align:justify;
    font-size: 23px;
    font-weight: bold;
}

.imgEp {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.imgEp img {
    margin: 0 30px ;
    margin-bottom: 10px;
}

.equipefoto {
    width: 700px;
}

@media screen and (max-width: 1020px) {
    .imgEp {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .equipefoto {
        width: 370px;
    }

    .object p{
        color: #000000;
        text-align:justify;
        font-size: 18px;
        font-weight: bold;
        margin-top: 20px;
    }

    .object h1{
        color: #0057bb;
        text-align: center;
        font-size: 35px;
    }
    
}